.pointer {
  cursor: pointer;
}

.pointer:hover {
  border-bottom: 1px solid;
}

.tableRow td {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.add {
  border-radius: 100%;
  width: 2.8rem;
  height: 2.8rem;
  font-size: 1.65rem;
  color: #fff;
  background: #86a8e7;
  border: #86a8e7;
  padding-bottom: 2.4rem;
}

.add:hover {
  background-color: #91eae4;
}
